<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend</title>
</head>
<body>
  {{!-- Con esto todos los archivos que estén dentro de la carpeta views se van a renderizar en {{{body}}} --}}
  {{{body}}}
</body>
</html>