<h1>Cookies</h1>
<form action="/setdata" method="post">
  <label>Nombre del cliente</label>
  <input type="text" name="user" />
  <label>Email</label>
  <input type="email" name="email" />
  <input type="submit" value="Crear Cookie" />
</form>

<form action="/getdata" method="get">
  <input type="submit" value="Obtener Cookie" />
</form>