
<div class="container">
  <h2>Chat</h2>

  <div>
    <input  type="text" id="chatBox">
  </div>
  <div>
    <p id="messagesLog"></p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>